<app-dataroom-header></app-dataroom-header>
<div class="main-overview-content">
    <mat-card class="main-content-matcard">
      <div class="row">
        <div class="col-md-3 ">
          <div class="notifn-list">
              <h4>Important Notifications</h4>
            <div class="notifn-list-item">
                <mat-icon mat-list-icon>picture_as_pdf</mat-icon>
                <p>A file was added in <a href="#">PROJECT SUMMER-CAP Financial Chart example.pdf</a> 
                  is now available PROJECT SUMMER-CAP</p>
            </div>
            <div class="notifn-list-item">
                <mat-icon mat-list-icon>picture_as_pdf</mat-icon>
                <p>A file was added in <a href="#">PROJECT SUMMER-CAP Financial Chart example.pdf</a> 
                  is now available PROJECT SUMMER-CAP</p>
            </div>
            <div class="notifn-list-item">
                <mat-icon mat-list-icon>picture_as_pdf</mat-icon>
                <p>A file was added in <a href="#">PROJECT SUMMER-CAP Financial Chart example.pdf</a> 
                  is now available PROJECT SUMMER-CAP</p>
            </div>
          </div>
          
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-12 text-right overview-icons">
                <i routerLink="/disclaimer" matTooltip="Manage Disclaimers" class="material-icons">toc</i>
                <i matTooltip="Request for deletion sent" class="material-icons del-icon">delete</i>
                <i  matTooltip="Request for archive sent" class="material-icons">album</i>
            </div>
            <div class="col-md-12">
                <video controls="" preload="none" style="width:100%" src="/assets/images/Network - 12716.mp4"> Sorry, your browser doesn't support embedded videos, but don't worry, you can <a href="videofile.webm">download it</a> and watch it with your favorite video player! </video>
                <!-- <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="/assets/images/Waterfall - 6998.mp4"></iframe>
                  </div> -->
            </div>
          </div>
          <div class="row video-content">
            <div class="col-md-4 custom-link">
                <button mat-button  class="btn">
                    <mat-icon >link</mat-icon>
                    Custom link
                </button>
              <mat-list role="list">
                  <mat-list-item class="overview_sidemenu Active" role="listitem"> CDR New Team</mat-list-item>
                  <mat-list-item class="overview_sidemenu" role="listitem"> OT TEAM</mat-list-item>
                  <mat-list-item class="overview_sidemenu" role="listitem"> Sneha team Quali</mat-list-item>
                  <mat-list-item class="overview_sidemenu" role="listitem"> AXAT Team</mat-list-item>
                  <mat-list-item class="overview_sidemenu" role="listitem"> Internal 1</mat-list-item>
                  <mat-list-item class="overview_sidemenu" role="listitem"> Shiv Team</mat-list-item>
                </mat-list></div>
            <div class="col-md-8 video-desc">
              <h5>CDR New Team Rock!</h5>
              <br>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper erat purus, sit amet tempus mi efficitur in. Aenean ligula libero, finibus ac dui ut, lacinia faucibus dolor. Phasellus sed massa ornare, commodo mi sed, molestie sem. Suspendisse convallis mi vitae tincidunt vehicula. Nulla viverra pretium magna, et auctor massa dignissim sed. Sed convallis orci eleifend tellus posuere lacinia. Quisque pulvinar in nulla ut pharetra. Fusce a varius quam. Nullam varius ipsum at tincidunt iaculis. Nulla nec nulla nec eros tincidunt accumsan.</p>
                  <p>Sed convallis orci eleifend tellus posuere lacinia. Quisque pulvinar in nulla ut pharetra. Fusce a varius quam. Nullam varius ipsum at tincidunt iaculis. </p>
            </div>
          </div>
          </div>
      </div>
      </mat-card>
      </div>
      <app-footer></app-footer>