.mat-button, .mat-icon-button, .mat-stroked-button {
    color: inherit;
    background: #e6e6e6;
   }
   .h3, h3 {
    font-size: 20px;
   }
   p {
    color: #c2c2c2;
    font-weight: 400;
    font-size: 14px;
   }
   span {
    font-weight: 500;
    font-size: 16px;
    color: #c2c2c2;
   }
   
   h4 {
    font-size: 15px;
    font-weight: 500;
    color: #676c7b;
   }
   
   .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    }
   
    .top-center .mat-form-field {
    width: 100%;
   }
   .top-center .mat-slider-horizontal {
    width: 100%;
   }
   .mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label, .mat-accent .mat-slider-track-fill {
    background-color: #3453ea;
   }
   .mat-card {
    background: #fff;
    color: #676c7b;
   }
   .col-md-6.content {
    margin: 54px 0px 0px 0px;
   }
   .mat-raised-button.mat-primary {
    background-color: #049fd9;
   }
   .bottom-center .mat-slider {
    width: 100%;
   }
   .center-center .mat-slider {
    width: 100%;
   }
   
   .bottom-center .mat-form-field {
    width: 100%;
   }
   
   .center-center .mat-form-field {
    width: 100%;
   }
   
   .content-2 {
    padding: 40px;
    background: #fff;
    box-shadow: 0px 0px 10px #a7a7a70f;
    
   }
   .content-2 p {
    color: #808080;
    font-weight: 500;
    margin-top: 45px;
    
   }
   .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #049fd9 !important;
   }