.qa-list{
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 6px #dddddd70;
    border-radius: 0px;
}
.msg-status{
    color: #fff;
    background-color: #ec9b03;
    border-color: #ccc;
    width: 63px;
    height: 21px;
    margin-left: 19px !important;
    border-radius: 17px;
    margin-top: 5px;
    font-size: 13px;
    margin: 0;
    font-weight: 300;
    padding: 5px 15px;
}
span.cmnt-txt {
    padding: 10px 10px 10px 0px;
}
.qa-list .material-icons {
    margin-right: 10px;
    font-size: 14px;
}
span.pdf-file {
    padding: 10px 10px 10px 0px;
}
span.msg-title {
    width: 75%;
    display: block;
    float: left;
}