<div class="sign-wrapper">
  <h3>Sign In</h3>
  <p class="mg-b-40">Please signin to continue</p>
  <div class="form-group">
    <label>Email address</label>
    <input type="email" class="form-control" placeholder="Enter email">
  </div>
  <div class="form-group">
    <div class="d-flex justify-content-between mg-b-5">
      <label class="mg-b-0-f">Password</label>
      <a routerLink="/forgot">Forgot password?</a>
    </div>
    <input type="password" class="form-control" placeholder="Enter your password">
  </div>
  <button class="btn frm-btn">Sign In</button>
  <div class="divider-text">or</div>
  <div class="text-center">If you are new user? <a routerLink="/signup">Signup to your 15 days Trial</a></div>
</div>