<app-dataroom-header></app-dataroom-header>
<div class="main-overview-content">
    <mat-card class="main-content-matcard">
      <div class="row">
        <div class="col-md-3 ">
          <div class="notifn-list">
              <h4>Important Notifications</h4>
            <div class="notifn-list-item">
                <mat-icon mat-list-icon>picture_as_pdf</mat-icon>
                <p>A file was added in <a href="#">PROJECT SUMMER-CAP Financial Chart example.pdf</a> 
                  is now available PROJECT SUMMER-CAP</p>
            </div>
            <div class="notifn-list-item">
                <mat-icon mat-list-icon>picture_as_pdf</mat-icon>
                <p>A file was added in <a href="#">PROJECT SUMMER-CAP Financial Chart example.pdf</a> 
                  is now available PROJECT SUMMER-CAP</p>
            </div>
            <div class="notifn-list-item">
                <mat-icon mat-list-icon>picture_as_pdf</mat-icon>
                <p>A file was added in <a href="#">PROJECT SUMMER-CAP Financial Chart example.pdf</a> 
                  is now available PROJECT SUMMER-CAP</p>
            </div>
          </div>
          
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-12">
                  <h4 class="mb-4">Disclaimer</h4>
                  <table class="table listing-tbl disclaimer-tbl text-center">
                      <thead>
                        <tr>
                          <th>Disclaimer</th>
                          <th>Preview Status</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>icon.png</td>
                          <td>1</td>
                          <td><i class="material-icons downld-icon">get_app</i>
                            <i class="material-icons visblty-icon">visibility</i>
                            <i class="material-icons check-icon">check</i>
                            <i class="material-icons del-icon">delete</i></td>
                        </tr>
                        <tr>
                            <td>icon.png</td>
                            <td>1</td>
                            <td><i class="material-icons downld-icon">get_app</i>
                              <i class="material-icons visblty-icon">visibility</i>
                              <i class="material-icons check-icon">check</i>
                              <i class="material-icons del-icon">delete</i></td>
                          </tr>
                          <tr>
                              <td>icon.png</td>
                              <td>1</td>
                              <td><i class="material-icons downld-icon">get_app</i>
                                <i class="material-icons visblty-icon">visibility</i>
                                <i class="material-icons check-icon">check</i>
                                <i class="material-icons del-icon">delete</i></td>
                            </tr>
                            <tr>
                                <td>icon.png</td>
                                <td>1</td>
                                <td><i class="material-icons downld-icon">get_app</i>
                                  <i class="material-icons visblty-icon">visibility</i>
                                  <i class="material-icons check-icon">check</i>
                                  <i class="material-icons del-icon">delete</i></td>
                              </tr>
                              <tr>
                                  <td>icon.png</td>
                                  <td>1</td>
                                  <td><i class="material-icons downld-icon">get_app</i>
                                    <i class="material-icons visblty-icon">visibility</i>
                                    <i class="material-icons check-icon">check</i>
                                    <i class="material-icons del-icon">delete</i></td>
                                </tr>
                      </tbody>
                    </table>
            </div>
            <div class="col-md-12">
              <div class="disclaimer-file-upload">
                  <div class="upload-file-popup">
                      <div>
                              <div class="row">
                                      <div class="col-md-12 text-center">
                                          <div class="file-upload">
                                          <div class="drag-area">
                                                  <i class="material-icons">
                                                          backup
                                                          </i>
                                              <p>Drag a File Here</p>
                                          </div>
                                          <p>or</p>
                                          <div class="">
                                                  <button mat-button cdkFocusInitial class="createbtn">Select a file from your Computer</button>
                                          </div>
                                          </div>
                                      </div>
                                  </div>
                          </div>
              </div>
              </div>
            </div>
          </div>
          </div>
      </div>
      </mat-card>
      </div>
      <app-footer></app-footer>