<app-dataroom-header></app-dataroom-header>
<div class="main-overview-content">
    <mat-card class="main-content-matcard">
        <div class="row">
            <div class="col-md-3">
                <div class="all-doc">
                    <div class="cat-header p-3">
                        <h4>All Documents</h4>
                    </div>
                <mat-list>
                    <mat-list-item role="listitem" class="all-documnets" >
                        <i class="material-icons">
                                keyboard_arrow_right
                            </i>
                            <span class="doc_leftmenu">Documents</span>
                    </mat-list-item>
                    <mat-list-item role="listitem" >
                        <i class="material-icons">
                                keyboard_arrow_right
                            </i>
                            <span class="doc_leftmenu">Shiv</span>
                      </mat-list-item>
                    
                </mat-list>
                </div>
                <div class="left-content">
                    <mat-list role="list" class="queans-list categories">
                        <mat-list-item role="listitem" >
                            <i class="material-icons">
                                insert_drive_file
                                </i>
                                <span class="heading-txt">Pages</span>
                          <span class="text-right count-txt">46</span>
                        </mat-list-item>
                        <mat-list-item role="listitem" >
                            <i class="material-icons">
                                folder_open
                                </i>
                                <span class="heading-txt">Documents</span>
                            <span class="text-right count-txt">21</span>
                          </mat-list-item>
                          <mat-list-item role="listitem" >
                            <i class="material-icons">
                                insert_drive_file
                                </i>
                                <span class="heading-txt">Storage Occupied</span>
                          <span class="text-right count-txt">37 MB</span>
                          </mat-list-item>
                        </mat-list>
                        
                    <mat-list role="list" class="queans-list categories">
                        <mat-list-item role="listitem" >
                            <i class="material-icons">
                                folder_open
                                </i>
                                <span class="doc_leftmenu" routerLink="/recent-document">Recent Documents</span>
                        </mat-list-item>
                        <mat-list-item role="listitem" >
                            <i class="material-icons">
                                publish
                                </i>
                                <span class="doc_leftmenu" routerLink="/upload-status">Upload Status</span>
                          </mat-list-item>
                          <mat-list-item role="listitem" >
                            <i class="material-icons">
                                visibility
                                </i>
                                <span class="doc_leftmenu" routerLink="/not-view-doc">Not Viewed/Viewed</span>
                          </mat-list-item>
                          <mat-list-item role="listitem" >
                            <i class="material-icons">
                                print
                                </i>
                                <span class="doc_leftmenu" routerLink="/not-print-doc">Not Printed/Pritnted</span>
                          </mat-list-item>
                          <mat-list-item role="listitem" >
                            <i class="material-icons">
                                get_app
                                </i>
                                <span class="doc_leftmenu" routerLink="/download">Not Downloaded/ Downloaded</span>
                          </mat-list-item>
                          <mat-list-item role="listitem" >
                            <i class="material-icons">
                                info
                                </i>
                                <span class="doc_leftmenu" routerLink="/indexs-report">Index Report</span>
                          </mat-list-item>
                          <mat-list-item role="listitem" >
                            <i class="material-icons">
                                delete_outline
                                </i>
                                <span class="doc_leftmenu" routerLink="/trash-doc">Trash</span>
                          </mat-list-item>
                        </mat-list>
                        
                </div>
            </div>
            <div class="col-md-9">
                <div class="search_filesection">
                        <mat-form-field class="secrch_section">
                                <select matNativeControl required>
                                  <option value="volvo">Search Files</option>
                                  <option value="saab">File1</option>
                                  <option value="mercedes">File2</option>
                                  <option value="audi">File3</option>
                                </select>
                              </mat-form-field>
                              <div class="button_section">
                              <button mat-button mat-raised-button (click)="openDialog()" class="btn editdatarm-btn">Create Folder</button> 
                            <button mat-button mat-raised-button (click)="openDialog1()" class="btn prcont-btn">Upload</button>
                            </div>
                </div>
                <div class="table_sections">
                <table class="table listing-tbl doc_tble">
                        <thead>
                          <tr>
                            <th><mat-checkbox></mat-checkbox></th>
                            <th>Title</th>
                            <th>Size MB</th>
                            <th>Last Modified</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><mat-checkbox></mat-checkbox></td>
                            <td>
                                    <i class="material-icons blue_icons">
                                        folder_open
                                        </i>
                                        <span class="table_section">Subtest1</span></td>
                            <td>0.80 MB</td>
                            <td>March 18, 2019</td>
                            <td><button mat-button [matMenuTriggerFor]="menu" class="action_btns"><i class="material-icons">
                                more_vert
                                </i></button>
                            <mat-menu #menu="matMenu" class="text-center">
                            <button mat-menu-item routerLink="/">Edit Index</button>
                            <button mat-menu-item routerLink="/">Edit Name</button>
                            <button mat-menu-item routerLink="/">Download</button>
                            <button mat-menu-item routerLink="/">Delete</button>
                            <button mat-menu-item routerLink="/">Copy</button>
                            <button mat-menu-item routerLink="/">Move</button></mat-menu></td>
                          </tr>
                        </tbody>
                      </table>
                      </div>
            </div>
        </div>
    </mat-card>
</div>
<app-footer></app-footer>