<app-dataroom-header></app-dataroom-header>
<div class="main-overview-content">
    <mat-card class="main-content-matcard">
      <div class="row userper-tabs">
        <div class="col-md-12">
          <h4>Group Name: Admin</h4>
          <p class="mb-0">No. of users: 2</p>
        </div>
        <div class="col-md-12 text-center">
            <ul class="admin-header-menu">
                <li class="Active">
                   <button type="button" routerLink="/overview" class="dashboard-btn admin-head-btn Active" mat-button>
                    Admin</button>
                  </li>
                <li > 
                  <button type="button" routerLink="/all-users-list" class="admin-head-btn" mat-button>
                    UserList</button>
                </li>
                <li >
                   <button type="button" routerLink="/user&permission" class="admin-head-btn" mat-button> 
                   Manage</button>
                  </li>
              </ul>
        </div>
      </div>
        <div class="row rowmrg ">
            <div class="col-md-6 mb-4"><h4>User List</h4></div>
            <div class="col-md-6 text-right mb-4">
                    <button mat-button class="createbtn"onclick="history.go(-1)">Back</button>
            </div>
            <div class="col-md-12">
                    <table class="table listing-tbl">
                            <thead>
                              <tr>
                                <th>Sr.No.</th>
                                <th>Name</th>
                                <th>Email ID</th>
                                <th>Group</th>
                                <th>Group Type</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>Anna </td>
                                <td>pfitza@msn.com</td>
                                <td>Test1</td>
                                <td>Admin</td>
                              </tr>
                              <tr>
                                    <td>2</td>
                                    <td>Anna </td>
                                    <td>pfitza@msn.com</td>
                                    <td>Test1</td>
                                    <td>Admin</td>
                                  </tr>
                                  <tr>
                                        <td>3</td>
                                        <td>Anna </td>
                                        <td>pfitza@msn.com</td>
                                        <td>Test1</td>
                                        <td>Admin</td>
                                      </tr>
                                      <tr>
                                            <td>4</td>
                                            <td>Anna </td>
                                            <td>pfitza@msn.com</td>
                                            <td>Test1</td>
                                            <td>Admin</td>
                                          </tr>
                                          <tr>
                                                <td>5</td>
                                                <td>Anna </td>
                                                <td>pfitza@msn.com</td>
                                                <td>Test1</td>
                                                <td>Admin</td>
                                              </tr>
                                              <tr>
                                                    <td>6</td>
                                                    <td>Anna </td>
                                                    <td>pfitza@msn.com</td>
                                                    <td>Test1</td>
                                                    <td>Admin</td>
                                                  </tr>
                                                  <tr>
                                                        <td>7</td>
                                                        <td>Anna </td>
                                                        <td>pfitza@msn.com</td>
                                                        <td>Test1</td>
                                                        <td>Admin</td>
                                                      </tr>
                                                      <tr>
                                                            <td>8</td>
                                                            <td>Anna </td>
                                                            <td>pfitza@msn.com</td>
                                                            <td>Test1</td>
                                                            <td>Admin</td>
                                                          </tr>
                            </tbody>
                          </table>
            </div>
        </div>

            
        </mat-card>
        </div>
<app-footer></app-footer>