
    <!-- <div calss="footer-wrap" fxLayout="row" fxLayoutAlign="space-between center" >
      <p>zxczxczxc</p>
      <p>zxczxczxc</p>
      <p>zxczxczxc</p>
    </div> -->
    <div class="footer-wrap" fxLayout="row" >
    <div fxFlex="33.33" class="txt1" fxFlex.xs="55">
        <p>@2019 Dataroom, All rights reserved.</p>
    </div>
    <div fxFlex="33.33" class="txt2" >
        <p><a href="#">Blog</a> | <a href="#">Security</a></p>
    </div>
    <div fxFlex="33.33" class="txt3" fxFlex.xs="15">
       <p>Legal Support (022) 4010-4010  |  support@dataroom.com</p>
    </div>
    </div> 
 